.header {
    background-color: black;
    display: flex;
    justify-content: center;
}
.header h1 {
    color: yellow;
}
.mostrarProductos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardProducto {
    width: 200px;
    margin: 5px;
} 
img {
    width: 50px;
    height: 350px;
}
